* {
	font-family: Montserrat, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #000016;
}

p {
	font-size: 18px;
	margin: 0;
}

li {
	font-size: 18px;
	margin: 10px;
}

a {
	color: lightskyblue;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #6aa2c6;
}

.normal {
	font-weight: normal;
}

.page-header {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 50%);
}

.chaos-awakens-logo {
	padding: 1rem;
	width: 12.5rem;
}