.image-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-gallery {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #8B8B8B;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align: auto;
  }
  
  .image-container:hover .hover-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
  }
  
  .hover-gallery img {
    display: inline-block;
    max-width: 100px;
    margin: 10px;
    vertical-align: middle;
  }

  #spawn-eggs {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  #spawn-eggs::-webkit-scrollbar {
    display: none;
  }