.main-section-header {
	margin: 0 0 1.5rem;
	padding: 0;
	width: 20rem;
	background-color: rgba(135, 206, 250, 0.7);
	border-radius: 10px 10px 40px 10px;
}

.main-section-header > h1 {
	font-family: Verdana, serif;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0;
	padding: 0.65rem 0 0.65rem 0;
}

h2 {
	font-family: Verdana, serif;
	font-size: 25px;
	padding-left: 0.5%;
	padding-bottom: 7px;
	border-bottom: #8d8d8d 1px solid;
}

h3 {
	font-family: Verdana, serif;
	font-size: 20px
}

h3.categories-heading {
	padding-bottom: 3px;
	border-bottom: #8d8d8d 1px solid
}

.categories-inner {
	padding-left: 1rem;
}

.gallery {
	text-align: center;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 10px;
	row-gap: 35px;
}

.image-container {
	position: relative;
}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
	border: 2px solid #8d8d8d;
}

.image-name {
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	text-align: center;
}

.image-name-long {
	bottom: -55px;
}