.main-section-header {
	margin: 0 0 1.5rem;
	padding: 0;
	width: 20rem;
	background-color: rgba(135, 206, 250, 0.7);
	border-radius: 10px 10px 40px 10px;
}

.main-section-header-long {
	padding: 0 1rem;
}

.main-section-header > h1 {
	font-family: Verdana, serif;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0;
	padding: 0.65rem 0 0.65rem 0;
}

h2 {
	font-family: Verdana, serif;
	font-size: 25px;
	padding-left: 0.5%;
	padding-bottom: 7px;
	border-bottom: #8d8d8d 1px solid;
}

h3 {
	font-family: Verdana, serif;
	font-size: 20px
}

h3.categories-heading {
	padding-bottom: 3px;
	border-bottom: #8d8d8d 1px solid
}

.categories-inner {
	padding-left: 1rem;
}

.gallery {
	text-align: center;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 10px;
	row-gap: 35px;
}

.image-container {
	position: relative;
}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
	border: 2px solid #8d8d8d;
}

.image-name {
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	text-align: center;
}

.image-name-long {
	bottom: -55px;
}

table {
	background-color: #000018;
	color: white;
	margin: 1em 0;
	border: 1px solid #8d8d8d;
	border-collapse: collapse;
}

table > tr > th, table > * > tr > th {
	background-color: #000014;
	text-align: center;
}

table > tr > th, table > tr > td, table > * > tr > th, table > * > tr > td {
	border: 1px solid #8d8d8d;
	padding: 0.6em 0.4em;
}

.extra-information {
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	color: #cfcfcf;
}

code {
	background-color: #051636;
	color: white;
	border: 1px solid #8d8d8d;
	border-radius: 10px;
	padding: 0.2rem;
}

bold {
	font-weight: bold;
}

.hatnote {
	font-size: 85%;
	color: #bbb;
	margin: -12.5px 0 10px 5px;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.align-image {
	position: relative;
	top: 5px;
}

ul.block-list > li {
	font-size: 80%;
}

.two-columns {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	max-width: max-content;
}

.two-columns > li {
	width: 100%
}

@media (max-width: 750px) {
	.two-columns {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
}